.nav-m{
  width: 100%;
  height: 80px;
  padding: 18px 1px;

}

.logo{
  width: 80px;
  padding: 6px;
  margin-left: 5%;
  border-radius: 52px;
}


.nav-ul {
  margin-top: -72px;
  margin-left: 12%;

}

.nav-link {
  list-style: none;
display: inline-block;
}

.links-a{
  color: rgb(133, 133, 133);
  display: block;
  text-decoration: none;
  padding: 0 30px 0 0px;
  line-height: 70px;
  font-size: 13px;
  font-family: 'Inter', sans-serif;
}
.links-a:hover{
  color: rgb(133, 133, 133);
}

.search-bar{
  padding: 10px;
  width: 20%;
  float: right;
  margin-top: -72px;
  margin-right: 22%;
  border:1px solid rgb(203, 203, 203)

}

.btn-up, .btn-in{
    padding: 14px 15px;
    border: 1px solid rgb(227,227,227);
    font-size: 11px;

}

.btn-up{
  background-color: black;
  color: white;
  float: right;
  margin-top: -73px;
  margin-right: 9.5%;
}

.btn-in{
  float: right;
  margin-top: -73px;
  margin-right: 3.5%;
  background-color: rgb(249, 249, 249);
  color: rgb(143,143,143);
  font-weight: 700;
}

.btn-in:hover{
  border: 1px solid rgb(197,197,197);
  cursor: pointer;
}

.btn-up:hover{
  cursor: pointer;
  background-color: rgb(42, 42, 42);
}

.div-home{
  width: 40%;
  height: 500px;
  padding-top: 10px ;
  margin-left: 8%;
}

.head-1{
  font-weight: 400;
  font-size: 46px;
  margin-left: 23px;
  line-height: 1.2em;
  margin-top: 80px;
}

.para-1{
  margin-left: 23px;
  color: #4A5260;
}

.btn-shop{
  background-color: black;
  color: white;
  padding: 16px 22px;
  font-size: 17px;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 23px;
}
.btn-shop:hover{
  cursor: pointer;
  background-color: rgb(12, 12, 12);
}

.div2-home{
  margin-left: 50%;

  margin-top: -500px;
}

.girl1{
  width: 500px;
  margin-left: 20%;
}

.div-rec{
  width: 40%;
  height: 500px;
 padding-top: 5px;
  margin-left: 8%;

}

.head-2{
  margin-top: 160px;
  font-size: 46px;
  font-weight: 600;
  margin-left: 10%;
  line-height: 1.2em;
}

.div2-rec{
  margin-left: 50%;
  margin-top: -500px;
}

.girl2{
  margin-top: 20px;
  width: 650px;
}

.div-feat{
  width: 40%;
  height: 500px;
 padding-top: 3px;
  margin-left: 8%;

}

.head-3{
  margin-top: 170px;
  font-size: 45px;
  font-weight: 600;
  text-align: center;
}

.div2-feat{
  margin-left: 50%;
  margin-top: -500px;
  padding-top: 10px;
}
.man{
  width: 700px;
}
.div-sup{
  border: 1px solid  rgb(193, 193, 193);
  height: 420px;
  width: 30%;
  margin-left: 20%;
  border-right: none;
  margin-top: 5px;
}

.head-4{
  font-weight: 630;
  font-size: 17px;
  margin-top: 45px;
  margin-left: 45px;
  margin-bottom: 35px;
 
}

.para-up{
  font-size: 11px;
  color: rgb(113,113,113);
  font-weight: 700;
  margin-left: 60px;

}

.inp-up{
  margin-left: 52px;
  padding: 10px;
  width: 320px;
  border: 1px solid rgb(193, 193, 193) ;
}
.inp-up::placeholder{
  color: rgb(173, 173, 173);
  font-weight: 610;
  font-size: 13px;
}

.btn-signup{
  margin-left: 90px;
  margin-top: 20px;
  padding: 18px 22px;
  margin-left: 290px;
  font-size: 15px;
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
}

.btn-signup:hover{
  cursor: pointer;
  background-color: rgb(42, 42, 42);
}

.div-or{
  height: 420px;
  width: 8%;
  margin-left: 684px;
  margin-top: -420px;
  border-top: 1px solid  rgb(193, 193, 193) ;
  border-bottom: 1px solid  rgb(193, 193, 193) ;

}
.head-5{
  font-weight: 700;
  padding-top: 182px ;
  font-size: 9px;
  padding-left: 70px;
  
}
.btn-gup{
  margin-left: 66px;
  padding: 18px 56px;
  margin-top: 182px;
 font-weight: 600;
 color:#393d46;
 border: 1px solid rgb(193, 193, 193);
}
.btn-gup:hover{
  background-color:#E1E1E1;
  border: 1px solid #E1E1E1;
  cursor: pointer;
}
.div-gbtn{
  width: 26%;
  height: 420px;
  margin-left: 792px;
  margin-top: -420px ;
  border: 1px solid  rgb(193, 193, 193);
  border-left: none ;
  border-bottom: none;

}

.footer-para{
  width: 480px;
  height: 66px;
  border: 1px solid  rgb(193, 193, 193);
  margin-left: 273px;
  border-right: none;
}
.para-6{
  font-size: 11px;
  color: rgb(103,103,103);
  font-weight: 700;
  margin-left: 320px;
  margin-top: 25px;
}



.btn-inlink{
 padding: 8px 10px;
 font-size: 11px;
 font-weight: 700;
 color: rgb(103,103,103);
 border: 1px solid white ;
 margin-top: 20px;
}

.btn-inlink:hover{
  background-color: #E1E1E1;
  cursor: pointer;
}
.footer-btn{
  width: 391px;
  border: 1px solid  rgb(193, 193, 193);
  height: 66px;
  margin-left: 755px;
  margin-top: -66px;
  border-left: none;
}

.link-girl{
  width: 35px;
  border-radius: 35px;
}

.dropdown{
  margin-left: 85%;
  margin-top: -66px;
}